body {
    margin : 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #DCE5F3;
    margin-top: 97px;
}
h2 {
    width: 190px;
    text-align: center;
    margin-right: 22px;
    margin-top: 30px;
    color: #DCE5F3;
}
div.accueil>img {
    margin-left: 23px;
}
h2,div.accueil>div.ensavoir\+1,div.ensavoir\+2,div.ensavoir\+3  {
    float:right;
}
p.chapeau {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: #0C1E3A;
    width: 295px;
    color: #DCE5F3;
    padding: 10px;
}
p.signature  {
    text-align: center;
}
div.réseaux_sociaux {
    display: flex;
    justify-content: center;
    margin-left: -10px;
}
p.mentions {
    text-align: center;
}
div.ensavoir\+1,div.ensavoir\+2,div.ensavoir\+3 {
    background-color: #68DAF5;
}
div.accueil>div.ensavoir\+1,div.ensavoir\+2,div.ensavoir\+3  {

    margin-right: 70px;
    margin-top: -90px;
    line-height: 14px;
    padding: 5px 15px;
}
main {
    background-color: #243247;
    padding-top: 30px;
    margin-top: -67px;
}
header>img  {
    position: absolute;
    left: 9px;
    top: -25px;
}
body {
    background: url("FOND TNG OFF.png") no-repeat;
    background-size: contain;
}
header {
    padding-bottom: 97px;
}
footer {
    background-color: #C9DAF4;
    padding-top: 5px;
    padding-bottom: 10px;
}
footer>img {
    position: absolute;
    left: 345px;
    top: 998px;
    width: 17px;
    height: 19px;
}
a.mail {
    margin-top: -7px;
    margin-right: -2px;
}
a.yt {
    margin-top: -2px;
}
a.insta {
    margin-top: 1px;
    margin-right: 6px;
}
div.réseaux_sociaux>a {
    margin-left: 10px;
}
a.fb {
    margin-right: 1px;
}
div.line {
    width: 8px;
    height: 706px;
    background-color: #C9DAF4;
    position: absolute;
    top: 208px;
    left: 89px;
    z-index: 1;
}
div.line-2 {
    width: 8px;
    height: 706px;
    background-color: #68DAF5;
    position: absolute;
    top: 208px;
    left: 69px;
    z-index: 1;
}
div.accueil>img, p.chapeau {
    position: relative;
    z-index: 2;
}
a {
    text-decoration: none;
    color: black;
}
