body {
    margin : 0;
    padding: 0;
}
main>p {
    margin-left: 15px;
    margin-right: 15px;
    color: #DCE5F3;
}

h1 {
    text-align: center;
    color: #DCE5F3;
    margin-top: 97px;
    font-size: 45px;
    width: 300px;
}
header>a  {
    position: absolute;
    left: 9px;
    top: -25px;
    z-index: 5;
}
body {
    background: url("FOND TNG OFF.png") no-repeat;
    background-size: contain;
}
header {
    padding-bottom: 15px;
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: center;
}
header>a  {
    position: absolute;
    left: 9px;
    top: -25px;
    z-index: 5;
}
a.fleche {
    position: absolute;
    top: 192px;
    left: 168px;
}
div.chapeau {
    color: #DCE5F3;
    margin-top: 22px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
main {
    background-color: #243247;
    padding-bottom: 35px;
}
p.chapeau {
    background-color: #0C1E3A;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 250px;
    padding: 6px 65px;
}
ul>li {
    list-style: none;
}
div.film, div.film2 {
    display: table-cell;
    width: 187.5px;
    position: relative;
    z-index: 2;
}
ul.left>li {
    margin-left: 0;
    margin-bottom: 40px;
}
ul.right>li {
    margin-left: 0;
    margin-bottom: 40px;
}
ul {
    padding: 0;
}
div.list {
    margin-left: 50px;
    margin-top: 15px;
}
div.rectanglefond {
    width: 610px;
    height: 280px;
    background-color: #68DAF5;
    opacity: 28%;
    position: absolute;
    z-index: 1;
    top: 379px;
    left: -100px;
    transform: rotate(-21deg);
}
div.rectanglefond2 {
    width: 610px;
    height: 280px;
    background-color: #68DAF5;
    opacity: 28%;
    position: absolute;
    z-index: 1;
    top: 920px;
    left: -100px;
    transform: rotate(21deg);
}
div.rectanglefond3 {
    width: 610px;
    height: 280px;
    background-color: #68DAF5;
    opacity: 28%;
    position: absolute;
    z-index: 1;
    top: 1434px;
    left: -100px;
    transform: rotate(-21deg);
}
footer {
    background-color: #C9DAF4;
    padding-top: 5px;
    padding-bottom: 10px;
    position:relative
}
footer>img {
    position: absolute;
    left: 345px;
    top: 85px;
    width: 17px;
    height: 19px;
}
a.mail {
    margin-top: -7px;
    margin-right: -2px;
}
a.yt {
    margin-top: -2px;
}
a.insta {
    margin-top: 1px;
    margin-right: 6px;
}
div.réseaux_sociaux>a {
    margin-left: 10px;
}
a.fb {
    margin-right: 1px;
}
p.signature  {
    text-align: center;
}
div.réseaux_sociaux {
    display: flex;
    justify-content: center;
    margin-left: -10px;
}
p.mentions {
    text-align: center;
}






