html {
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400&display=swap');
}

h1,h2,h3 {
    font-family: "Bebas Neue", cursive;
    font-weight: 200;
}
html {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 45px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}

div.accueil>p {
    font-family: "Bebas Neue", cursive;
    font-size: 14px;
}
