h1,h2,h3 {
    font-family: "Bebas Neue", cursive;
    font-weight: 200;
}
html {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
h1 {
    font-size: 45px;
}
h2,div.ensavoir\+1,div.ensavoir\+2,div.ensavoir\+3 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}

div.ensavoir\+1>a,div.ensavoir\+2>a,div.ensavoir\+3>a {
    font-family: "Bebas Neue", cursive;
    font-size: 14px;
}
p.mentions {
    font-size: 10px;
}
